.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton, .tweetButton, .connectWallet, button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  font-family: sans-serif;
}

.mainContainer {
  display: flex;
}

.card {
  font-family: sans-serif;
  font-variant: small-caps;
}

/* .dataContainer {
  position: absolute;
} */

.Feed {
/*   border: 1px solid #f1efef; */
  height: auto;
  width: auto;
/*   opacity: 0.5; */
}

.tweetSection {
  box-shadow: 0 2px 5px 2px #8e8585;
  background: rgba(199, 188, 188, 0.1);
/*   border: 2px solid black; */
  padding: 10px;
  position: auto;
  overflow-y: auto;
  max-height: 75vh;
}

.card-text {
  font-family: sans-serif;
  font-style: arial;
}

::-webkit-scrollbar {
/*   width: 5px; */
}